* {
  margin: 0;
  padding: 0;
}
/*Geral*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f6;
}


/* Mennu */
.menu {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1em;
}
.menu img {
  width: 150px;
  vertical-align: middle;
}

.menu h1 {
  display: inline;
  margin-left: 15px;
}

.navbar {
  text-align: center;
  background-color: #003366;
  color: #fff;
  padding: 10px; 
}

.navbar a {
  text-decoration: none; 
  color: #fff; 
  font-weight: bold;
  transition: color 0.3s; 
}

.navbar a:hover {
  color: #ff5722;
}

/*Conteudo */

.tab-content {
  padding: 20px;
  border-top: none;
}



.formulario {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario label, form input, form select {
  display: block;
  margin-bottom: 15px;
}

.formulario button {
  background-color: #005599;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #003366;
}

/* Login */

.login {
  background-color: #003366; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.login-card {
  background-color: #fff; /* Fundo branco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.login h2 {
  margin-bottom: 20px;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.login label {
  font-weight: bold;
  margin-bottom: 5px;
}
.login input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login button {
  background-color: #3498db; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #2980b9; 
}
.login a {
  text-decoration: none; 
  color: #fff;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/* Tabela */

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Rodape */

  footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.footer-links-title {
    margin-bottom: 5px; 
}

.footer-logo {
    flex: 0; 
    text-align: right; 
}
footer p{
  text-align: center;

}
.footer-logo img {
    max-width: 50px; 
}
footer a {
  text-decoration: none; 
  color: #fff; 
  font-weight: bold;
  transition: color 0.3s; 
}

footer a:hover {
  color: #ff5722;
}