.menu {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1em;
}
.menu img {
  width: 50px;
  vertical-align: middle;
}

.menu h1 {
  display: inline;
  margin-left: 15px;
}

.navbar {
  text-align: center;
  background-color: #003366;
  color: #fff;
  padding: 10px; 
}

.navbar a {
  text-decoration: none; 
  color: #fff; 
  font-weight: bold;
  transition: color 0.3s; 
}

.navbar a:hover {
  color: #ff5722;
}